<s-cnt-faq-header [header]="getHeader()"
                  (clickBack)="showEvent($event)"></s-cnt-faq-header>
<s-cnt-faq-search [menu]="getSearchMenu()" [category]="getCategory()" [searchHints]="getBlocks()"
                  [logo]="getLogo()" [placeHolder]="getPlaceholder()"
                  (clickMenu)="showEvent($event)"
                  (clickSearch)="showEvent($event)"
                  (clickLogo)="showEvent($event)"
                  (clickCategory)="showEvent($event)"
                  (clickSearchHint)="showEvent($event)"
                  (inputValueDown)="showEvent($event)"
                  (inputValueUp)="showEvent($event)"></s-cnt-faq-search>
<s-cnt-faq-search-pop-up *ngIf="searchState"
                         [searchHintsData]="getBlocks()"
                         [searchPlace]="getSearchPlace()"
                         (clickBlackBlock)="hideSearch()"
                         (clickSearchPop)="showEvent($event)"
                         (clickHints)="showEvent($event)"
                         (searchKeyDown)="showEvent($event)"
                         (searchKeyup)="showEvent($event)"></s-cnt-faq-search-pop-up>
<s-cnt-faq-block-header [blockHeader]="getBlockHeader()"
                        (clickLink)="showSearch()"
                        (clickRight)="showEvent($event)"
                        (clickLeft)="showEvent($event)"></s-cnt-faq-block-header>
<div class="my_container">
  <div class="row">
    <s-cnt-faq-blocks class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12"
                      *ngFor="let item of getBlocks()" [blocks]="item"
                      (clickBlockHeader)="showEvent($event)"
                      (clickBlockText)="showEvent($event)"
                      (clickBlockAuthor)="showEvent($event)"
                      (clickBlockImg)="showEvent($event)"></s-cnt-faq-blocks>
  </div>
</div>
